# vim: sts=2 ts=2 sw=2 et ai
zabbix-scripts:
  include:
    sudo: "/usr/local/bin/sudo"
    smart: "/usr/local/sbin/smartctl"
    mysqladmin: "/usr/local/bin/mysqladmin -uzabbix -pcd32cdlabn29900"
    mysql: "/usr/local/bin/mysql"
    mysqlcachefile: "/tmp/mysqlstat.cache"
    mysqlcachettl: "1"
    apachecachefile: "/tmp/apachestat.cache"
    apachettl: "290"
    apachestatus: "/usr/bin/curl -s http://localhost/server-status?auto"
  repos:
    - mysql:
        user: 'zabbix'
    - kvm
    - raid
    - apache
