# vim: sts=2 ts=2 sw=2 et ai
zabbix-scripts:
  lookup:
    repopath: "https://github.com/fessoga5" # is default
    pkgs: ["python-yaml","git"] #is default
  repos:
    mysql: # just clone https://github.com/fessoga5/zabbix-script-mysql.git and unpacked it from the zabbix
    kvm:
      path: "ssh://git@git.ru/repo.git"
      config: # You can create config file. Examlpe for login and password from mysql. Your scripts must use nameconfig, for this to work!
        "nameconfig": |
          user: artem
          password: artem
