# vim: sts=2 ts=2 sw=2 et ai
{% set zabbixscripts  = salt['grains.filter_by']({
  'Debian': {
    pkgs: ["python-yaml","git"],
    repopath: "https://github.com/fessoga5",
  },
  'default': {
    pkgs: ["python-yaml","git"],
    repopath: "https://github.com/fessoga5",
  },
}, merge=salt['pillar.get']('zabbix-scripts:lookup')) %}
