# vim: sts=2 ts=2 sw=2 et ai
{% set zabbixlookup  = salt['grains.filter_by']({
  'Debian': {
    'repopath': "https://github.com/fessoga5",
    'pkgs': ["python-yaml","git"]
  },
  'default': {
    'pkgs': ["python-yaml","git"],
    'repopath': "https://github.com/fessoga5",
  },
}, merge=salt['pillar.get']('zabbix-scripts:lookup')) %}
